@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimiar</h1>

<h3>¿Estas seguro que deseas eliminar?</h3>
@foreach (DataRow row in Model.Rows) {
<div>
    <h4>Produto</h4>
    <hr />
    
   <table class="table">
    <thead>
        <tr>
               <th>
                ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                EMAIL
            </th>
            <th>
                MOTIVO
            </th>
            <th>
                COMENTARIO
            </th>
            <th>     
            <th></th>
        </tr>
    </thead>
    <tbody>

     <tr>
           <td>
                @row["id"]
            </td>
            <td>
                @row["name"]
            </td>
            <td>
                @row["email"]
            </td>
            <td>
                @row["subject"]
            </td>
            <td>
                @row["comment"]
            </td>

  
            
            
        </tr>

    </tbody>
</table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@row["id"]" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Indexadmin">Back to List</a>
    </form>
</div>
}