@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Mensajes Sin Resolver";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                CORREO
            </th>
            <th>
                ASUNTO
            </th>
            <th>
                COMENTARIO
            </th>
            <th>
                STATUS
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (DataRow row in Model.Rows) {
        <tr>
            <td>
                @row["id"]
            </td>
            <td>
                @row["name"]
            </td>
            <td>
                @row["email"]
            </td>
            <td>
                @row["subject"]
            </td>
            <td>
                @row["comment"]
            </td>
            <td>
                @row["Status"]
            </td>
            <td>
                @row["AnotacionAdmin"]
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@row["id"]">Edit</a> |
                <a asp-action="Delete" asp-route-id="@row["id"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>