@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Lista de Ventas";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NombreTarjeta
            </th>
            <th>
                NumeroTarjeta
            </th>
            <th>
                MontoTotal
            </th>
            <th>
                UserID
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (DataRow row in Model.Rows) {
        <tr>
            <td>
                @row["id"]
            </td>
            <td>
                @row["NombreTarjeta"]
            </td>
            <td>
                @row["NumeroTarjeta"]
            </td>
            <td>
                @row["MontoTotal"]
            </td>
            <td>
                @row["UserID"]
            </td>
            <td>
               <a class="btn btn-info" asp-controller="ListaVentas" asp-action="Details" asp-route-id="@row["id"]">Detalles</a>
        </tr>
}
    </tbody>
</table>