@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas Seguro que deseas eliminar este producto?</h3>
@foreach (DataRow row in Model.Rows) {
<div>
    <h4>Produto</h4>
    <hr />
    
   <table class="table">
    <thead>
        <tr>
               <th>
                ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                CANTIDAD
            </th>
            <th>
                PRECIO
            </th>
            <th>
               
            </th>
            <th>     
            <th></th>
        </tr>
    </thead>
    <tbody>
     <tr>
           <td>
                @row["id"]
            </td>
            <td>
                @row["ProductoId"]
            </td>
            <td>
                @row["Cantidad"]
            </td>
            <td>
                @row["Precio"]
            </td>
            <td>
               
            </td>

  
            
            
        </tr>

    </tbody>
</table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@row.["id"]"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index">Back to List</a>
    </form>
</div>
}