@using System.Data
@model DataTable

@{
    ViewData["Title"] = "DETALLES PRODUCTOS";
}

    <h1>Detalles</h1>
    <div class="container">
            <div class="col-sm-4">
              @foreach (DataRow row in Model.Rows) {
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="card-img-actions">
                      <img class="img-responsive" width="370" height="350"
                        src="https://alibaba2022ii9976.blob.core.windows.net/img/@row["ImageName"]" alt="@row["ImageName"]"  />
                    </div>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">@row["Name"]</h5>
                    <p class="card-text">@row["Descripcion"]</p>
                    <h5 class="card-title">@row["Precio"]</h5>
                    <a href="@row["Image3D"]" target="_blank"> Vistas 3D</a>
                  </div>
                </div>
              }
            </div>
    </div>


