@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@foreach (DataRow row in Model.Rows) {
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            NOMBRE
        </dt>
        <dd class = "col-sm-10">
            @row["Name"]
        </dd>
        <dt class = "col-sm-2">
            DESCRIPCION
        </dt>
        <dd class = "col-sm-10">
            @row["Descripcion"]
        </dd>
        <dt class = "col-sm-2">
            KEYWORDS
        </dt>
        <dd class = "col-sm-10">
            @row["Keywords"]
        </dd>
        <dt class = "col-sm-2">
            ESTADO
        </dt>
        <dd class = "col-sm-10">
            @row["Estado"]
        </dd>
        <dt class = "col-sm-2">
            PRECIO
        </dt>
        <dd class = "col-sm-10">
            @row["Precio"]
        </dd>
        <dt class = "col-sm-2">
            PORCENTAJE DE DESCUENTO
        </dt>
        <dd class = "col-sm-10">
            @row["PorcentajeDescuento"]
        </dd>
        <dt class = "col-sm-2">
            NOMBRE DE IMAGEN
        </dt>
        <dd class = "col-sm-10">
            @row["ImageName"]
        </dd>
                <dt class = "col-sm-2">
            IMAGEN 3D
        </dt>
        <dd class = "col-sm-10">
            @row["Image3D"]
        </dd>
        <dt class = "col-sm-2">
            STATUS
        </dt>
        <dd class = "col-sm-10">
            @row["Status"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@row["id"]">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
}