@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                DESCRIPCION
            </th>
            <th>
                PRECIO
            </th>
            <th>
                PORCENTAJE DE DESCUENTO
            </th>
            <th>
                URL de imagen
            </th>
            <th>
                STATUS
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (DataRow row in Model.Rows) {
        <tr>
            <td>
                @row["Name"]
            </td>
            <td>
                @row["Descripcion"]
            </td>
            <td>
                @row["Precio"]
            </td>
            <td>
                @row["PorcentajeDescuento"]
            </td>
            <td>
                @row["ImageName"]
            </td>
            <td>
                @row["Status"]
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@row["id"]">Edit</a> |
                <a asp-action="Details" asp-route-id="@row["id"]">Details</a> |
                <a asp-action="Delete" asp-route-id="@row["id"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>