@using System.Data
@model DataTable

@{
    ViewData["Title"] = "DATA DE PRODUCTOS";
}
  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col-3">
        <form asp-controller="Catalogo" asp-action="Index">
              <p>--------------------------</p>
              <div class="form-group">
                <label class="control-label">Clase</label>
                <br>
                <input type="radio" value="Dormitorio" aria-label="Clase" name="Clase">
                <label  for="html">Dormitorio</label><br>
                <br>
                <input  type="radio" value="Escritorio" aria-label="Clase" name="Clase">
                <label  for="html">Escritorio</label><br>
                <br>
                <input  type="radio" value="Salas" aria-label="Clase" name="Clase">
                <label  for="html">Salas</label><br>
                <br>
                <input  type="radio" value="Adornos" aria-label="Clase" name="Clase">
                <label  for="html">Adornos</label><br>
                <br>
            </div>
            <p>--------------------------</p>
            <p>--------------------------</p>
            <div class="form-outline">
              <input type="text" id="Subclase" class="form-control" placeholder="Buscar" aria-label="Subclase" name="Subclase"/>
            </div>
            <p>--------------------------</p>
            <input type="submit" value="Buscar" class="btn btn-primary "/>   
        </form>

      </div>


      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (DataRow row in Model.Rows) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="250" height="250"
                       src="@row["ImageName"]" alt="@row["ImageName"]"  />
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title" style="color:red">@row["Name"]</h4>
                  <p class="card-text" style="font-size: 24px;font-weight: bold;color:red">S/. @row["Precio"]       
                  <p class="card-text" style="font-size: 16px;color: #949794;font-weight: bold;text-decoration-line: line-through;"> Precio Original: S/. @row["PorcentajeDescuento"]</p></p>
                  <div>
                      <form asp-controller="Catalogo" asp-action="Add2">
                      <input type="hidden" id="id" class="form-control" aria-label="id" name="id" value="@row["id"]" />
                      <input type="number" min="1" max="12" style="width:100px" id="canti" class="form-control" placeholder="1" aria-label="canti" name="canti" value="1" />
                      <input type="submit" value="Agregar al Carrito" class="btn btn-info "/> 
                      </form>
                  </div>
                  <a class="btn btn-info" asp-action="Details" asp-route-id="@row["id"]">Detalles</a>
                  <h1>@ViewData["Message"]</h1>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div>